# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.python-version
.ipynb_checkpoints/
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/

# Project outputs
outputs/*
!outputs/.gitkeep
